.navigation{
    clip-path: circle(75%);
    display:  flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:#141E26;
    font-size: 24px;
    flex-direction: column;
    position: absolute;
    top: 0px;
    width: 250px;
    height: 100%;
    left: -250px;
    transition: all .5s ease;
    font-family: 'Redressed', cursive;
}

.navigation .links{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.navigation .links a{
    position: relative;
    display: inline-block;
    margin: 20px 0;
    font-size: 24px;
    text-decoration: none;
    color: #D9CDBF;
}
.link a{
    position: relative;
}
.link a:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0px;
    height: 2px;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #D9CDBF;
}
.link a:hover:after{
    width: 100%;
    opacity: 1;
}
.h1 {
    position: relative;
    text-align: center;
    color:white;
    margin-top: 50px;
}
.links i{
    padding-right: 10px;
}
.contact{
    text-align:center;
    vertical-align: bottom;
}
.contact i{
    margin-right: 20px;
}
.introduce{
    padding-top: 300px;
    text-shadow: 3px 3px #141E26;
    color: white;
    font-weight: 400;
    text-align: center;
}

.index {
    background-size: cover;
    font-family: 'Redressed', cursive;
    background-image: url('images/background.webp');
    transition: all .5s ease;
    height: 100vh;
}

.about {
    background-size: cover;
    height: 100vh;
    font-family: 'Redressed', cursive;
    background-image: url('images/about_background.jpg');
    transition: all .5s ease;
}
.Contact {
    background-size: cover;
    transition: all .5s;
    height: 100vh;
    font-family: 'Redressed', cursive;
    background-image: url('images/contact_background.webp');
    transition: all .5s ease;
}

.one {
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 60px;
    padding-bottom: 110px;
    list-style: none;
}
.one i {
    font-size: 30px;
}
.one p {
    vertical-align: middle;
    background-color: #141E26;
    width: 180px;
    height: 60px;
    top: 100%;
    padding-top: 20px;
    text-align: center;
    border-radius: 3px;
}
.shoes {
    padding-right: 100px;
}
.shoes p:hover {
    color:tomato;
}
.exercise {
    padding-left: 60px;
    padding-right: 60px;
}
.exercise p:hover {
    color: black;
}
.coding {
    padding-left: 100px;
}
.coding p:hover {
    color:#F2CB05;
}
.one li {
    float: left;
}
.two {
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 60px;
    padding-bottom: 40px;
    list-style: none;
}

.two li {
    float: left;
}

.two i {
    font-size: 30px;
}

.two p {
    vertical-align: middle;
    background-color: #141E26;
    width: 180px;
    height: 60px;
    top: 100%;
    padding-top: 20px;
    text-align: center;
    border-radius: 3px;
}

.tour {
    padding-right: 100px;
}
.tour p:hover {
    color:#730217;
}
.trip {
    padding-left: 60px;
    padding-right: 60px;
}
.trip p:hover {
    color:#4D5159;
}
.youtube {
    padding-left: 100px;
}
.youtube p:hover {
    color:#F0E443;
}

.content {
    font-family: 'Redressed', cursive;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: bold;
}

.title{
    position: fixed;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(170, 163, 163, 0.4);
    margin-left: 400px;
    width: 50%;
    text-align: center;
    height: 80px;
    border-radius: 3px;
    color:black;
    font-weight: 900;
    font-family: 'Redressed', cursive;
}

.About {
    top: 80%;
    left: 70%;
    margin-top:150px;
    margin-left: 250px;
    padding-top: 30px;
    width: 500px;
    background: rgba(170, 163, 163, 0.4);
    font-size: 20px;
    text-shadow: 3px 3px #141E26;
    color: white;
    height: 100px;
    font-weight: 400;
    text-align: center;
    border-radius: 5px;
    vertical-align: middle;
}

.hobby {
    position: relative;
    top: 15%;
    left: 21.5%;
    margin-left:-60px;
    width: 1000px;
    height: 400px;
    color:white;
    background: rgba(170, 163, 163, 0.4);
    font-size: 20px;
    margin-right: 200px;
    transition: all .5s ease;
    border-radius: 5px;
}

iframe 
    transition: all .5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#check{
    display: none;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    background-color: #141E26;
}

a {
    text-decoration: none;
}

label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background: #141E26;
    border-radius: 3px;
}

label #btn {
    left:40px;
    top: 25px;
    font-size: 25px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    margin-top: 10px;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 25px;
    color:white;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .navigation{
    left: 0;
}
#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}

#check:checked ~ section .hobby {
    left:17%;
    transition: all .5s ease;
}

#check:checked ~ section .title {
    position: absolute;
    margin-left: 280px;
    transition: all .5s ease;
}
